{% extends "base.html" %}
{% block title %}UIUC FreeFood - Event Edit{% endblock %}
{% block content %}
<script>
	/* For toggling the new location/food boxes */
	$(function() {
		$("#new-loc-btn").click(function() { $(".new-location-box").toggle(); });
	
		$("#new-food-btn").click(function() { $(".new-food-box").toggle(); });
		
		$(".submit-location").click(function() {
			$.post("/new_location", {
				name : $("#new_location_name").val(),
				address : $("#location_address").val()
			}, function() {
				location.reload();
			});
		});
		
		$(".submit-food").click(function() {
			$.post("/new_food", {
				name : $("#new_food_name").val(),
			}, function() {
				location.reload();
			});
		});
		
		$("#location-select").change(function() {
			$("#locId").val($("#location-select").val());
		});
		
		$("#food-select").change(function() {
			$("#foodId").val($("#food-select").val());
		});
		
		{% if event %}
			$("#location-select").val("{{event.location.locationId}}");
			$("#food-select").val("{{event.food.foodId}}");
		{% endif %}
		
	});
</script>

<div class="container">

<div class="row">
	<div class="col-md-3">
		<h1>location stuff</h1>
	</div>

	<div class="col-md-6">
		<h2>Event <small>Location</small></h2>
		
		<div class="form-group">
			<label for="event_location_name" class="col-sm-2 control-label">Name</label>
			<select id="location-select">
				{% for location in all_locations %}
					<option value="{{location.0}}">{{location.1}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div class="add-box new-location-box" style="display:none">
			<span class="box-label">Create a new location</span>
			<div class="form-group">
				<label for="event_location_name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="new_location_name" 
						   placeholder="Location Name">
				</div>
			</div>
			<div class="form-group">
				<label for="event_location_address" class="col-sm-2 control-label">Address</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="location_address" 
						   placeholder="Address">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-default submit-location">Submit</button>
				</div>
			</div>
		</div>
		<div class="add-btn">
			<button class="btn" id="new-loc-btn">Add new location?</button>
		</div>

		<h2>Event <small>Food</small></h2>
		<div class="form-group">
			<label for="event_food_name" class="col-sm-2 control-label">foodName</label>
			<select id="food-select">
				{% for food in all_foods %}
					<option value="{{food.0}}">{{food.1}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="add-box new-food-box" style="display:none">
			<span class="box-label">Create a new food type</span>
			
			<div class="col-md-12">
				<label for="event_food_name" class="col-sm-2 control-label">foodName</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="new_food_name" 
						   placeholder="foodName">
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default submit-food">Submit</button>
				</div>
			</div>
		</div>
		<div class="add-btn">
			<button class="btn" id="new-food-btn">Add food category?</button>
		</div>
		
		{% if event %}
		<form class="form-horizontal" role="form" action="/edit/{{event.eventId}}/" method=post>
		{% else %}
		<form class="form-horizontal" role="form" action="/edit_new" method=post>
		{% endif %}
			<input type="hidden" name="locationId" id="locId">
			<input type="hidden" name="foodId" id="foodId">
			<h2>Event <small>Name</small></h2>
			<div class="form-group">
				<label for="event_name" class="col-sm-2 control-label">name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="event_name" 
						   value="{{event.name}}" placeholder="Event Name">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
		{% if event %}
		<form class="form-horizontal" action="/delete_{{event.eventId}}">
			<button type="submit" class="btn btn-danger">Delete</button>		
		</form>
		{% endif %}
	</div>
	

<div class="col-md-3"></div>
{% endblock %}
