{% extends "base.html" %}
{% block title %}UIUC FreeFood - Event Edit{% endblock %}
{% block content %}
<div class="container">

<div class="row">
	<div class="col-md-3">
		<h1>location stuff</h1>
	</div>

	<div class="col-md-6">
		<h2>Event <small>Location</small></h2>
		<form class="form-horizontal" role="form" action="/edit_new" method=post>
			<div class="form-group">
				<label for="event_location_name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="event_location_name" 
						   placeholder="Location Name">
				</div>
			</div>

			<h2>Event <small>Food</small></h2>
			<div class="form-group">
				<label for="event_food_name" class="col-sm-2 control-label">foodName</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="event_food_name" 
						   placeholder="foodName">
				</div>
			</div>
			
			<h2>Event <small>Name</small></h2>
			<div class="form-group">
				<label for="event_name" class="col-sm-2 control-label">name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="event_name" 
						   placeholder="Event Name">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>

<div class="col-md-3"></div>
{% endblock %}
