{% extends "base.html" %}
{% block title %}UIUC FreeFood{% endblock %}
{% block content %}
<div class="container">

{% if current_user.is_authenticated() %}
<p>Welcome {{current_user.userName}}</p>
{% endif %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Location</th>
                <th>Food</th>
            </tr>
        </thead>
        <tbody>
			{% for event in events %}
            <tr onclick="document.location = '/edit/{{event.eventId}}';">
                <td>{{event.name}}</td>
                <td>{{event.time}}</td>
                <td>{{event.location.name}}</td>
                <td>{{event.food.foodName}}</td>
            </tr>
			{% endfor %}
        </tbody>
    </table>

	<form role="form" action="/edit_new" method="GET">
		<button type="submit" class="btn btn-default">Create new event</button>
	</form>
</div>
{% endblock %}
