<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/index">Free Food</a>
		</div>
		<div class="navbar-right">
		{% if current_user.is_authenticated() %}
			<a href="/preferences" role="button" class="btn btn-primary">Preferences</a>
			<a href="/logout" role="button" class="btn btn-success">Sign out</a>
			{% else %}
			<a href="/join" role="button" class="btn btn-success">Sign up</a>
			<a href="/login" role="button" class="btn btn-default">Sign in</a>
		{% endif %}
		</div>
	</div>
</div>
