{% extends "base.html" %}
{% block title %}Join UIUC FreeFood{% endblock %}
{% block content %}
<div class="container">

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">

<div class="row">
	<h1>Join UIUC FreeFood</h1>

	{% if form.errors %}
	<ul class="errors">
	{% for field_name, field_errors in form.errors|dictsort if field_errors %}
		{% for error in field_errors %}
		<li>{{ form[field_name].label }}: {{ error }}</li>
		{% endfor %}
	{% endfor %}
	</ul>
	{% endif %}
</div>

<div class="row">
	<form role="form" action="/join" method="POST">
		<div class="form-group">
		{{ form.username.label }}: {{ form.username(class="form-control") }}
		{{ form.email.label }}: {{ form.email(class="form-control") }}
		{{ form.password.label }}: {{ form.password(class="form-control") }}
		{{ form.confirm.label }}: {{ form.confirm(class="form-control") }}
		</div>
		<button type="submit" class="btn btn-default">Create an account</button>
	</form>
</div>

</div>
<div class="col-md-3"></div>
</div><!-- /row -->

</div>
{% endblock %}
