

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 40px;
}

.logged-in-user {
	color: #fff;
	margin-top: 10px;
}

/* box stuff */
.box-label {
	font-size: 20px;
	padding-left: 15px;
}

.add-box {
	display: block;
	margin: 10px 0;
}

.add-btn {
	display: block;
	margin: 10px 0;
}
